{
    "REDDIT_SECRETS": {
        "client_id": "REDDIT_CLIENT_ID",
        "client_secret": "REDDIT_CLIENT_SECRET"
    },
    "DB_SECRETS": {
        "DB_HOST": "DB_HOST",
        "DB_PORT": "27017",
        "DB_USER": "USERNAME",
        "DB_PASS": "PASSWORD"
    }
}